<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ArbiscanApiKeys</key>
	<string>${ARBISCAN_API_KEYS}</string>
	<key>SharedCloudContainerId</key>
	<string>${SHARED_CLOUD_CONTAINER_ID}</string>
	<key>PrivateCloudContainerId</key>
	<string>${PRIVATE_CLOUD_CONTAINER_ID}</string>
	<key>BasescanApiKeys</key>
	<string>${BASESCAN_API_KEYS}</string>
	<key>BscscanApiKeys</key>
	<string>${BSCSCAN_API_KEYS}</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>io.horizontalsystems.bank-wallet</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>unstoppable.money</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>toncoin.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ton</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>crypto.deeplinks</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ethereum</string>
				<string>bitcoin</string>
				<string>litecoin</string>
				<string>bitcoincash</string>
				<string>ecash</string>
				<string>tron</string>
				<string>cosmos</string>
				<string>dogecoin</string>
				<string>xrpl</string>
				<string>solana</string>
				<string>near</string>
				<string>zcash</string>
				<string>monero</string>
				<string>thorchain</string>
				<string>maya</string>
				<string>stellar</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ChainalysisApiKey</key>
	<string>${CHAINALYSIS_API_KEY}</string>
	<key>MerkleApiPath</key>
	<string>${MERKLE_API_PATH}</string>
	<key>DefaultPassphrase</key>
	<string>${DEFAULT_PASSPHRASE}</string>
	<key>DefaultWatchAddress</key>
	<string>${DEFAULT_WATCH_ADDRESS}</string>
	<key>DefaultWords</key>
	<string>${DEFAULT_WORDS}</string>
	<key>DefiYieldApiKey</key>
	<string>$(DEFIYIELD_API_KEY)</string>
	<key>EraZkSyncApiKeys</key>
	<string>${ERA_ZKSYNC_API_KEYS}</string>
	<key>EtherscanApiKeys</key>
	<string>${ETHERSCAN_API_KEYS}</string>
	<key>FtmscanApiKeys</key>
	<string>${FTMSCAN_API_KEYS}</string>
	<key>GnosisscanApiKeys</key>
	<string>${GNOSISSCAN_API_KEYS}</string>
	<key>HashDitApiKey</key>
	<string>${HASHDIT_API_KEY}</string>
	<key>HsProviderApiKey</key>
	<string>$(HS_PROVIDER_API_KEY)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>MayaAffiliate</key>
	<string>${MAYA_AFFILIATE}</string>
	<key>MayaAffiliateBps</key>
	<string>${MAYA_AFFILIATE_BPS}</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechrome</string>
		<string>tg</string>
		<string>twitter</string>
		<string>cydia</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>We need access to camera to scan QR codes.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>We use Face ID to unlock wallet.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>We need access to local network to discover blockchain nodes</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to photo library to save NFT images</string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.io.horizontalsystems.bank-wallet.shared</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>$(PRODUCT_NAME)</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
		<key>iCloud.io.horizontalsystems.bank-wallet.shared.dev</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>$(PRODUCT_NAME)</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>CoinPriceListIntent</string>
		<string>SingleCoinPriceIntent</string>
	</array>
	<key>OneInchApiKey</key>
	<string>${ONE_INCH_API_KEY}</string>
	<key>OneInchCommission</key>
	<string>${ONE_INCH_COMMISSION}</string>
	<key>OneInchCommissionAddress</key>
	<string>${ONE_INCH_COMMISSION_ADDRESS}</string>
	<key>OpenSeaApiKey</key>
	<string>${OPEN_SEA_API_KEY}</string>
	<key>OptimismEtherscanApiKeys</key>
	<string>${OPTIMISM_ETHERSCAN_API_KEYS}</string>
    <key>PimlicoApiKey</key>
    <string>${PIMLICO_API_KEY}</string>
	<key>PolygonscanApiKeys</key>
	<string>${POLYGONSCAN_API_KEYS}</string>
	<key>SnowtraceApiKeys</key>
	<string>${SNOWTRACE_API_KEYS}</string>
	<key>ThorchainAffiliate</key>
	<string>${THORCHAIN_AFFILIATE}</string>
	<key>ThorchainAffiliateBps</key>
	<string>${THORCHAIN_AFFILIATE_BPS}</string>
	<key>SolanaAlchemyApiKeys</key>
	<string>${SOLANA_ALCHEMY_API_KEYS}</string>
	<key>TronGridApiKeys</key>
	<string>${TRONGRID_API_KEYS}</string>
	<key>TwitterBearerToken</key>
	<string>${TWITTER_BEARER_TOKEN}</string>
	<key>UIAppFonts</key>
	<array>
		<string>Manrope-Medium.ttf</string>
		<string>Manrope-Regular.ttf</string>
		<string>Manrope-SemiBold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UnstoppableDomainsApiKey</key>
	<string>${UNSTOPPABLE_DOMAINS_API_KEY}</string>
	<key>WallectConnectV2ProjectKey</key>
	<string>${WALLET_CONNECT_V2_PROJECT_KEY}</string>
	<key>USwapApiKey</key>
	<string>${USWAP_API_KEY}</string>
	<key>JupiterApiKey</key>
	<string>${JUPITER_API_KEY}</string>
</dict>
</plist>
