infura_project_id =
infura_project_secret =
etherscan_api_key =
arbiscan_api_key =
optimism_etherscan_api_key =
bscscan_api_key =
polygonscan_api_key =
snowtrace_api_key =
defiyield_api_key =
twitter_bearer_token =
market_api_url = https:/$()/api-dev.blocksdecoded.com
hs_provider_api_key =
wallet_connect_v2_project_key =
default_words =
