etherscan_api_keys =
arbiscan_api_keys =
optimism_etherscan_api_keys =
basescan_api_keys =
era_zksync_api_keys =
bscscan_api_keys =
polygonscan_api_keys =
gnosisscan_api_keys =
ftmscan_api_keys =
snowtrace_api_keys =
defiyield_api_key =
twitter_bearer_token =
market_api_url = https:/$()/api.blocksdecoded.com
hs_provider_api_key =
trongrid_api_key =
wallet_connect_v2_project_key =
shared_cloud_container_id = iCloud.io.horizontalsystems.bank-wallet.shared
private_cloud_container_id = iCloud.io.horizontalsystems.bank-wallet
open_sea_api_key =
unstoppable_domains_api_key =
chainalysis_api_key =
merkle_api_path =
hashdit_api_key =
one_inch_api_key =
one_inch_commission =
one_inch_commission_address =
thorchain_affiliate =
thorchain_affiliate_bps =
swap_enabled = true
donate_enabled = true
referral_app_server_url =
